
<footer > 
    
        <div class="container">
           <div class="row col-12">
            <div id="eslogan-footer">
              <h2>Solos podemos, juntos llegamos mas lejos.
                <br>Bienvenidos a la comunidad mas grande de refrigeracion <br>
                <img src="" alt=""  id="imagen-corporativa">
              </h2>
            </div>
            <div id="contenido-footer" class="col-12">
             <section> <label>
              <li>Quienes Somos</li>
              <li>Contactanos</li>
            </label>
              </section> 
              <section id="logos-redes">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-solid fa-phone"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-solid fa-envelope"></i>

              </section>
            </div>



           </div>
            
          </div>
        
           



    
</footer>

