<div id="informacion-contenido">
    
    <section>
        <h1>Desde el 2018 conenctando soluciones en refrigeracion a los colombianos</h1>
    </section>
    <section>
        <h2>Mas de 1000 equipos intervenidos son muestra de nuestra calidad y respaldo</h2>
        <br><br>
        <i class="fa-regular fa-snowflake" id="logos-redes"></i>
        <i class="fa-solid fa-users" ></i>
        <i class="fa-solid fa-thumbs-up" ></i>
    </section>
        <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Nuestra Mision</h5>
                  <p class="card-text">Nuestra mision es conectar a todo el que necesite una solucion en refrigeracion ya sea para su hogar o su empresa con un tecnico que le pueda brindar sus servicios, añadiendo valor con calidad y repaldo 
                    de nuestra marca que acompaña a los tecnicos en la formacion, ejecucion y posventa de los servicios.</p>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Nuestra Vision</h5>
                  <p class="card-text">Seremos la plataforma numero 1 a nivel mundial en conectar clientes con tecnicos que soluciones sus necedidades.
                    ademas de ser la plataforma mas grande de comercio de equipos de refrigeracion brindando soluciones a la mediada
                    de cada uno de nuestros clientes. </p>
                  
                </div>
              </div>
            </div>
          </div>
        
   


</div>
