
nav{
    display: flex;
    align-content: space-between;
    background-color: #89bee8;
    padding: 10px;
    top: 15px;
    
    margin-left: 13px;
    margin-right: 13px;
    
}

#logo{
    height: 60px;
    width: 180px;
}

li{
    
    padding: 5px;
}

.barra-navegador{
    width: 100%;
    
    color:#051c14 ;
}
