img{
    width: 500px;
    height: 400px;
    margin-top: 50px;


}

#contenedor-formulario{
    border-radius: 10px;
    border:solid ;
    background:#14477d ;
    
}

.container{
  
    margin-top: 30px;
}
