


<div class="container">
    <div class="row">
        <div id="encabezado" class="mx-auto">
            <h2>Contacta con un especialista</h2>
        </div></div>


        <div class="row" id="tarjeta">
            <div class="card text-white bg-primary mb-3 mx-auto" style="width: 20rem;" >
                <i class="fa-solid fa-address-card mx-auto"  id="icono-encabezado"></i>
                <div class="card-body">
                  <h5 class="card-title">Contactanos</h5>
                  <li><i class="fa-solid fa-envelope" id="icono"></i><a>     tecnolcimadelcaribesas</a></li>
                  <li><i class="fa-solid fa-envelope" id="icono"></i><a>     30021012012</a></li>
                  <li><i class="fa-solid fa-mobile-retro" id="icono"></i><a> calle 117-#192 el tesoro</a></li>
                 
                
                </div>
        </div>
        
          </div>


        
    </div>
           

    



