 <div>
    <div id="contenido-barra">
        <div id="contenedor-iconos">
            <nav id="barra-vertical">
                <a ><img src="assets/img/logo-remobe.png" id="logo-tecnoclima"></a>
                <a routerLink="/zonaprivadausuarios" id="homeZonaprivada"><ul><i class="fa-solid fa-house-user"  ></i></ul></a> 
                <a routerLink="/comprasZonaPrivada"><ul><i class="fa-solid fa-cart-shopping" id="compras"></i></ul></a>
                <a routerLink="/metodosPagosZonaPrivada"><ul><i class="fa-regular fa-money-bill-1" id="metodosPagos"></i></ul></a>
                <a routerLink="/confiZonaPrivada"><ul><i class="fa-solid fa-gear" id="configuracionesZonaprivada"></i></ul></a>
                <a routerLink="/home" target="_self"><ul><i class="fa-solid fa-power-off" id="cerrarSecion"></i></ul></a>
            </nav>
    
        </div>
    
    
     </div> 
 
</div>
