
<section><h2>Nuestros Servicios</h2></section>
<div id="tarjetas">
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-3">
                <img class="card-img-top" src="assets/img/imagencard1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Servicio Tecnico Hogar</h5>
                  <p class="card-text">Necesitas un tecnico para Reparar un aire acondicionado en tu hogar?.Podemos ayudarte a conectar con cientos 
                    de tecnicos disponibles para atender tu solicitud.
                  </p>
                 <a href="#" class="btn btn-primary">AGENDAR</a>
                </div>
              </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3">
                <img class="card-img-top" src="assets/img/imagencard2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Servicio Tecnico Empresarial</h5>
                  <p class="card-text">Necesitas un tecnico para Reparar un aire acondicionado en tu empresa?.Podemos ayudarte a conectar con cientos 
                    de tecnicos disponibles para atender tu solicitud.
                  </p>
                  <a href="#" class="btn btn-primary">AGENDAR</a>
                </div>
              </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3">
                <img class="card-img-top" src="assets/img/imagencard3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Comprar Aire Acondicionado</h5>
                  <p class="card-text">Comprar un aire acondicionado nunca fue tan facil. Puedes comparar el consumo energetico, precios y la calificacion
                    de tecnicos y usuarios.
                  </p>
                 <a href="#" class="btn btn-primary">COMPRAR</a>
                </div>
              </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3">
                <img class="card-img-top" src="assets/img/imagencard4.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Tecnoaliados</h5>
                  <p class="card-text">Quieres hacer parte de la comunidad de tecnicos mas grande de latinoamerica?.Unete a nuestro equipo de trabajo
                    y alcanzu tus metas de la mano de nosotros.Miles de cliente a disposicion de un click.
                    
                  </p>
                 <a href="#" class="btn btn-primary">CREA TU CUENTA </a>
                </div>
              </div>
        </div>
      </div>
</div>