
<footer > 
    
        <div class="container">
           <div class="row">
            <div class="col-12" id="eslogan-footer">
              <h2>Solos podemos, juntos llegamos mas lejos.
                <br>Bienvenidos a la comunidad mas grande de refrigeracion <br>
                <img src="" alt=""  id="imagen-corporativa">
              </h2>
            </div>
                     </div>
            <div class="row">
              <div id="opciones-footer" class="col-12">
                <section> 
                  <label>
                 <li>Quienes Somos</li>
                 <li>Nuestros Servicios</li>
                 <li>Contactanos</li>
               </label>
              </section> 

            </div>
          </div>
            
              <div class="row" id="logos-redes">
                <div class="col" id="logo-insta">
                  <a target="_blank" href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
                <div class="col" id="logo-face">
                  <i class="fa-brands fa-facebook"></i>
                </div>
                <div  class="col" id="logo-telefono">
                  <i  class="fa-solid fa-phone"></i>
                </div>
                <div class="col" id="logo-linkedin">
                  <i class="fa-brands fa-linkedin"></i>
                </div>
                <div class="col" id="logo-email">
                  <i class="fa-solid fa-envelope"></i>
                </div>

              </div>
              <div class="row" id="avisos-legales">
                <div class="col-6">
                       <a href="#">Terminos de Uso</a>
              
                </div>
                <div class="col-6">
                       <a href="#">Aviso de Privacidad</a>
              
                </div>
                </div>

                


            



           
            
          </div>
          <div id="derechos-autor"> 
            <section >
              <span >Todos los derechos reservados</span><br> 
              <span>Tecnoclima del caribe sas</span> 
             
              
            </section>

          </div>
         
        
           



    
</footer>

