<div id="contenido-recuperacionContra" class="mx-auto"> 
    <div id="titulo"> Digita la nueva contraseña</div>
    <div class="form-group">
      
      <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">Debe tener  8 caracteres como minimo , uso de mayusculas y un caracter especial</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Repita la contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    
    <button type="submit" class="btn btn-primary"><a class="btn btn-primary" routerLink="/login">Guardar</a></button>
</div>