
<header id="heander-principal">

   
      <div class="container"> 
        <div id="contenido-header">

        <div id="icono-mundo" class="row col-6">  
          <!-- Just an image -->
          <nav class="navbar navbar-light bg-light">
                <i class="fa-solid fa-globe">Colombia</i>  
            </nav>
            <div id="espacio-usuario" class="col-6">
              <nav class="navbar navbar-light bg-light" id="barra-usuario">
                <a class="navbar-brand" routerLink="/login">
                  <i class="fa-solid fa-user">Iniciar secion - Usuario</i>
                </a>
                <a class="navbar-brand" routerLink="/registro">Registrarse</a>
                
              </nav>
             </div> </div>
         
  
      </div>

      </div>
      


</header>





