<div id="informacion-contenido">
    <section>
        <h1>Desde el 2018 conenctando soluciones en refrigeracion a los colombianos</h1>
    </section>
    <section>
        <h2>Mas de 1000 equipos intervenidos son muestra de nuestra calidad y respaldo</h2>
        <br><br>
        <i class="fa-regular fa-snowflake"></i>
        <i class="fa-solid fa-users"></i>
        <i class="fa-solid fa-thumbs-up"></i>
    </section>
    <section>
        <h2>Nuestra Mision</h2>
        <p>Nuestra mision es conectar a todo el que necesite una solucion en refrigeracion ya sea para su hogar o su empresa con un tecnico que le pueda brindar sus servicios, añadiendo valor con calidad y repaldo 
            de nuestra marca que acompaña a los tecnicos en la formacion, ejecucion y posventa de los servicios. 
        </p>
    </section>


</div>
