 <div id="contenido-barra">
    <div id="contenedor-iconos">
        <nav id="barra-vertical">
            <a ><img src="assets/img/logo-remobe.png" id="logo-tecnoclima"></a>
            <ul><i class="fa-solid fa-house-user"></i></ul>
            <ul><i class="fa-solid fa-cart-shopping"></i></ul>
            <ul><i class="fa-regular fa-money-bill-1"></i></ul>
            <ul><i class="fa-solid fa-gear"></i></ul>
            <ul><i class="fa-solid fa-power-off"></i></ul>
        </nav>

    </div>


 </div>